.seccion-contacto {
    background-color: var(--lavender);
    padding: 5%;
    display: flex;
    flex-direction: column;
}

.seccion-contacto__div-img {
    display: none;
}

.seccion-contacto__titulo {
    color: var(--paynes-gray);
    font-family: var(--playfair);
    font-size: 1.8rem;
    font-weight: 700;
    padding: 0.7rem 0;
}

.seccion-contacto__txt {
    color: var(--gunmetal);
    font-family: var(--dosis);
    font-size: 1.2rem;
    font-weight: 400;
    padding: 0.2rem 0;
    margin: 0;
}

.form-contacto {
    width: 100%;
}

.form-contacto__form-div {
    height: auto;
    background-color: var(--white);
    margin: 1.5rem 0;
    padding: 0.7rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

label, p {
    color: var(--paynes-gray);
    font-size: 0.9rem;
    font-family: var(--dosis);
    font-weight: 400;
    text-decoration: none;
    margin: 0.6rem;
}

input, textarea {
    color: var(--gunmetal);
    border-style: none;
    font-size: 1.1rem;
    margin: 0.6rem;
}

input:focus-visible {
    font-family: var(--dosis);
    font-size: 1.1rem;
    font-weight: 400;
    outline: none;
}

.form-btn {
    width: 10rem;
    height: 2.5rem;
    background-color: var(--paynes-gray);
    color: var(--silver);
    font-family: var(--dosis);
    font-weight: 600;
    font-size: 0.9rem;
    border-radius: 0.5rem;
    margin: 0;
}


/*estilos para tablet*/

@media screen and (min-width: 770px) {
    .seccion-contacto__titulo {
        font-size: 2.1rem;
    }

    input, textarea {
        font-size: 1.3rem;
    }

    .form-btn {
        width: 13rem;
        height: 3rem;
        font-size: 1.1rem;
    }
}


/*estilos para escritorio*/

@media screen and (min-width: 1100px) {
    .seccion-contacto {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .seccion-contacto__titulo {
        font-size: 2.6rem;
    }

    .seccion-contacto__div-img {
        width: 40%;
        height: 48rem;
        display: flex;
        justify-content: center;
        overflow: hidden;
    }

    .seccion-contacto__img {
        height: 48rem;
        padding-right: 2rem;
    }

    .seccion-contacto__formulario {
        width: 55%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    input, textarea {
        font-size: 1.4rem;
    }

    .form-btn {
        width: 15rem;
        height: 4.5rem;
        font-size: 1.2rem;
    }
}