.seccion-formacion {
    background-color: var(--lavender);
    padding: 5%;
    display: flex;
    flex-direction: column;
}

.seccion-formacion__titulo {
    color: var(--paynes-gray);
    font-family: var(--playfair);
    font-size: 1.8rem;
    font-weight: 700;
    padding: 0.7rem 0;
    text-align: center;
}

.seccion-formacion__formaciones {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}

.formacion {
    width: 100%;
    height: 20rem;
    margin: 1.6rem 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.formacion__div-img {
    background-color: var(--white);
    width: 100%;
    height: 80%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.formacion__img {
    width: 100%;
}

.formacion__titulo {
    color: var(--paynes-gray);
    font-family: var(--dosis);
    font-size: 1.3rem;
    font-weight: 700;
    margin: 0.5rem 0;
}

.formacion__txt {
    color: var(--gunmetal);
    font-family: var(--dosis);
    font-size: 1.1rem;
    margin: 0.5rem 0;
    font-weight: 400;
}


/*estilos para tablet*/

@media screen and (min-width: 770px) {
    .seccion-formacion__titulo {
        font-size: 2.1rem;
    }

    .formacion {
        width: 30%;
        height: 21rem;
    }

    .formacion__titulo {
        font-size: 1.5rem;
    }

    .formacion__txt {
        font-size: 1.3rem;
    }
}


/*estilos para escritorio*/

@media screen and (min-width: 1100px) {
    .seccion-formacion__titulo {
        font-size: 2.6rem;
    }
    
    .formacion {
        width: 30%;
        height: 22rem;
    }

    .formacion__titulo {
        font-size: 1.6rem;
    }

    .formacion__txt {
        font-size: 1.4rem;
    }
}