.navbar {
    font-family: var(--dosis);
    color: var(--gunmetal);
    background-color: var(--pale-purple);
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
}

.navbar__nav-mail, .navbar__nav-nombre {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--gunmetal);
    text-decoration: none;
    margin: 0;
}

.navbar__nav-menu {
    display: none;
}


/*estilos tablet*/

@media screen and (min-width: 770px) {
    .navbar__nav-mail, .navbar__nav-nombre {
        font-size: 1.3rem;
    }
}


/*estilos escritorio*/

@media screen and (min-width: 1100px) {
    .navbar {
        justify-content: space-between;
    }

    .navbar__nav-mail, .navbar__nav-nombre {
        font-size: 1.5rem;
    }

    .navbar__nav-nombre {
        width: 14rem;
    }

    .navbar__nav-menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }


    .navbar__nav-opcion {
        color: var(--gunmetal);
        font-size: 1.5rem;
        text-decoration: none;
        font-weight: 400;
        padding: 0 0.7rem;
    }

}