.presentacion {
    display: flex;
    flex-direction: column;
    padding: 1.1rem;
}

.presentacion__div-img {
    width: 160px;
    height: 160px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
}

.presentacion__img {
    height: 135%;
    width: auto;
    padding-top: 1.2rem;
}

.presentacion__textos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.presentacion__titulo {
    color: var(--mountbatten-pink);
    font-family: var(--playfair);
    font-size: 2.1rem;
    font-weight: 600;
    margin: 0 0 0.4rem 0.5rem;
}

.presentacion__texto {
    color: var(--gunmetal);
    font-family: var(--dosis);
    font-size: 1.2rem;
    margin: 0.5rem;
}

.redes {
    height: 2.2rem;
    margin: 1.2rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0rem 2rem 0rem 0.7rem;
}

.redes__link {
    color: var(--mountbatten-pink);
    font-size: 1.2rem;
    font-family: var(--dosis);
    font-weight: 500;
    text-decoration: none;
}

.redes__icono {
    color: var(--mountbatten-pink);
    width: 0.7rem;
    padding: 0 0.3rem;
}

@media screen and (min-width: 770px) {
    .presentacion {
        flex-direction: row-reverse;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 1.8rem;
    }

    .presentacion__div-img {
        width: 210px;
        height: 210px;
        margin: 1rem;
    }

    .presentacion__img {
        padding-top: 0;
    }
    
    .presentacion__textos {
        width: 66%;
    }

    .presentacion__texto {
        font-size: 1.4rem;
    }

    .presentacion__titulo {
        font-size: 2.5rem;
        margin: 0 0 0.6rem 0.5rem;
    }
}

@media screen and (min-width: 1100px) {
    .presentacion {
        align-items: center;
        justify-content: flex-end;
        padding: 3rem;
    }
    .presentacion__div-img {
        width: 240px;
        height: 240px;
    }

    .presentacion__titulo {
        font-size: 3rem;
        margin: 0 0 0.8rem 0.5rem;
    }

    .presentacion__texto {
        font-size: 2.1rem;
    }

    .redes__link {
        font-size: 1.3rem;
    }

    .redes__icono {
        width: 0.9rem;
    }
}