.presentacion {
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.presentacion__div-img {
    width: 11rem;
    height: 11rem;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.presentacion__img {
    height: 135%;
    width: auto;
    padding: 1rem 0;
}

.presentacion__textos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 0;
}

.presentacion__titulo {
    color: var(--mountbatten-pink);
    font-family: var(--playfair);
    font-size: 2.2rem;
    font-weight: 600;
    padding: 0.7rem 0;
}

.presentacion__texto {
    color: var(--gunmetal);
    font-family: var(--dosis);
    font-size: 1.2rem;
    font-weight: 400;
    padding: 0.7rem 0;
    margin: 0;
}

.redes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem 0;
    width: 95%;
}

.redes__link {
    color: var(--mountbatten-pink);
    font-size: 1.2rem;
    font-family: var(--dosis);
    font-weight: 600;
    text-decoration: none;
}

.redes__icono {
    color: var(--mountbatten-pink);
    width: 0.7rem;
    margin-left: 0.4rem;
}


/*estilos para tablet*/

@media screen and (min-width: 770px) {
    .presentacion {
        flex-direction: row-reverse;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .presentacion__div-img {
        width: 14rem;
        height: 14rem;
        margin: 1rem;
    }
    
    .presentacion__textos {
        width: 63%;
    }

    .presentacion__titulo {
        font-size: 2.8rem;
        padding: 0.8rem 0;
    }

    .presentacion__texto {
        font-size: 1.4rem;
        padding: 0.8rem 0;
    }

    .redes__link {
        font-size: 1.4rem;
    }

    .redes__icono {
        width: 0.8rem;
    }
}


/*estilos para escritorio*/

@media screen and (min-width: 1100px) {
    .presentacion {
        justify-content: flex-end;
    }
    .presentacion__div-img {
        width: 19rem;
        height: 19rem;
        margin: 2rem;
    }
    
    .presentacion__textos {
        width: 62%;
    }

    .presentacion__titulo {
        font-size: 3.2rem;
        padding: 0.9rem 0;
    }

    .presentacion__texto {
        font-size: 1.7rem;
        padding: 0.9rem 0;
    }

    .redes__link {
        font-size: 1.7rem;
        padding: 0.9rem 0;
    }

    .redes__icono {
        width: 0.9rem;
    }
}