.seccion-skills {
    background-color: var(--pale-purple);
    padding: 5%;
    display: flex;
    flex-direction: column;
}

.seccion-skills__titulo {
    color: var(--mountbatten-pink);
    font-family: var(--playfair);
    font-size: 1.8rem;
    font-weight: 700;
    padding: 0.7rem 0;
    text-align: center;
}

.seccion-skills__skills {
    padding: 0.7rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skill {
    width: 46%;
    height: 8rem;
    background-color: var(--lavender);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin: 1.5rem 0.2rem;
}

.skill__img {
    height: 2.2rem;
    margin: 0.5rem 1rem;
}

.skill__txt {
    color: var(--paynes-gray);
    font-size: 1.3rem;
    font-family: var(--dosis);
    font-weight: 600;
    margin: 0.5rem 1rem;
}


/*estilos para tablet*/

@media screen and (min-width: 770px) {
    .seccion-skills__titulo {
        font-size: 2.1rem;
    }

    .skill {
        width: 30%;
        height: 10rem;
    }

    .skill__img {
        height: 2.4rem;
    }

    .skill__txt {
        font-size: 1.5rem;
    }
}


/*estilos para escritorio*/

@media screen and (min-width: 1100px) {
    .seccion-skills__titulo {
        font-size: 2.6rem;
    }

    .skill {
        width: 11rem;
        height: 12rem;
    }

    .skill__img {
        height: 2.6rem;
    }

    .skill__txt {
        font-size: 1.6rem;
    }
}